@import url("https://fonts.googleapis.com/css?family=Muli:400,700,900&display=swap");
@import url(bootstrap.css);
@import url(all.css);
main > .container {
  padding: 80px 15px 0; }

main > .container-fluid {
  padding: 80px 15px 0; }

.footer {
  font-family: "Muli", sans-serif;
  font-size: 0.8em;
  color: #333333;
  font-weight: 400;
  border-top: 2px solid #333333;
  margin: 0 2em;
  padding-right: 15px;
  padding-left: 15px; }

body {
  font-family: "Muli", sans-serif;
  font-size: 1rem;
  color: #333333;
  font-weight: 400; }

.txtIntermedio {
  font-family: "Muli", sans-serif;
  font-size: 1rem;
  color: #333333;
  font-weight: 700; }

.txtDestacado, .titular {
  font-family: "Muli", sans-serif;
  font-size: 1.5rem;
  color: #333333;
  font-weight: 900; }

.txtIngles {
  font-family: "Muli", sans-serif;
  font-size: 0.7rem;
  color: gray;
  font-weight: 400; }

.navbar.fixed-top {
  background-color: #FFFFFF; }

.navbar-nav .nav-item .nav-link {
  font-family: "Muli", sans-serif;
  font-size: 1rem;
  color: #333333;
  font-weight: 900; }
  .navbar-nav .nav-item .nav-link:hover {
    font-family: "Muli", sans-serif;
    font-size: 1rem;
    color: #d39e00;
    font-weight: 900; }
  .navbar-nav .nav-item .nav-link .txtSecundario {
    font-family: "Muli", sans-serif;
    font-size: 0.7rem;
    color: gray;
    font-weight: 400; }
.navbar-nav .nav-item.active .nav-link {
  color: #d39e00;
  cursor: default; }

.galeria {
  /* a:hover{
   
       opacity: 0.8;
   }*/ }
  .galeria .col {
    transition: .6s;
    overflow: hidden; }
    .galeria .col:hover {
      transform: scale(1.03);
      opacity: 1.5;
      transition: all 0.5s; }
    .galeria .col:focus {
      outline: 0; }
    .galeria .col:before {
      content: '';
      display: block;
      position: absolute;
      background: rgba(255, 255, 255, 0.5);
      width: 60px;
      height: 100%;
      left: 0;
      top: 0;
      opacity: .5;
      filter: blur(30px);
      transform: translateX(-200px) skewX(-20deg); }
    .galeria .col:after {
      content: '';
      display: block;
      position: absolute;
      background: rgba(255, 255, 255, 0.2);
      width: 30px;
      height: 100%;
      left: 30px;
      top: 0;
      opacity: 0;
      filter: blur(5px);
      transform: translateX(-200px) skewX(-20deg); }
    .galeria .col:hover {
      cursor: pointer; }
      .galeria .col:hover:before {
        transform: translateX(600px) skewX(-20deg);
        opacity: 0.6;
        transition: 1s; }
      .galeria .col:hover:after {
        transform: translateX(600px) skewX(-20deg);
        opacity: 1;
        transition: 1s; }

/* Modificaciones sobre el Breadcrum---------------*/
.breadcrumb {
  font-family: "Muli", sans-serif;
  font-size: 0.8em;
  color: #333333;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem 1.6rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: transparent; }

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem; }
  .breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #333333;
    content: "/"; }
.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: underline; }
.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none; }
.breadcrumb-item.active {
  font-family: "Muli", sans-serif;
  font-size: 0.8rem;
  color: #d39e00;
  font-weight: 900; }
.breadcrumb-item a {
  color: #333333; }

/* Modificaciones sobre el Breadcrum---------------*/

/*# sourceMappingURL=estructura.css.map */
